@tailwind base;
@tailwind components;
@tailwind utilities;


/* .for_light_theme {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

.for_dark_theme {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
} */


:root {
  --body_background: #f0f8ff;
  --body_text_color: #333333;
  --link_color: navy;
  --card_background: #f5f5f5;
  --navbar-bg: #ffffff;
  --card_shadow: gray;
  --star-icon: gray;
  --button-bg:
}
[data-theme="dark"] {
  --body_background: #2b2b2b;
  --body_text_color: #e0e0e0;
  --link_color: cyan;
  --card_background: #3a3a3a;
  --navbar-bg: #1f1f1f;
  --card_shadow: red;
  --star-icon: #e5e7eb;
  --button-bg:

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.App {
  background-color: var(--body_background);
  color: var(--body_text_color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;   
    background-color: var(--navbar-bg);
    color: var(--body_text_color);
    z-index: 9;
    /* transition: all 0.3s ease-in-out; */
}
.navbar-right-side {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.title {
  color: var(--body_text_color);
  text-align: center;
  filter: drop-shadow(2px 2px 3px var(--card_shadow));
  font-size: xx-large;
  padding-top: 25px;
}

.top-rated {
  padding-top: 150px;
}

.navbar-wishlist {
    color: white;
    padding-right: 25px;
    font-size: xx-large;
    cursor: pointer;
}
.wishlist {
  padding-top: 150px;
}

.logout {
    font-size: x-large;
    cursor: pointer;
    background-color: red;
    border-radius: 25px;
    width: 150px;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
}

.logout:hover {
    color: red;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    box-shadow: 5px 5px 5px red;
}

.movie-cards {
  background-color: var(--card_background);
      border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .movie-cards img {
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .movie-home-title {
    font-size: 1.2rem;
    color: var(--body_text_color); 
    margin-top: 10px;
    font-weight: bold;
  }
  
  /* .movie-cards:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  } */
  
  .movie-cards:hover img {
    transform: scale(1.05);
  }
  

/* CSS */
.wishlist-button {
  background-image: linear-gradient(#f82003, #790101);
  border: 1px solid #fafafa;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.wishlist-button:disabled {
  cursor: default;
  opacity: .3;
}

.wishlist-button:hover {
  background-image: linear-gradient(#000000, #ff0000);
  border-color: #616161;
  text-decoration: none;
}

.wishlist-button:active {
  background-image: linear-gradient(#6c7277, #111111);
  border-color: #696969;
  outline: none;
}
.wishlist-button:focus {
  box-shadow: rgba(73, 89, 104, 0.5) 0 0 0 3px;
  outline: none;
}

/* Content wrapper */
.movie-content {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}

/* Poster styling */
.movie-poster {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Details section styling */
.movie-details {
  margin-top: 20px;
  text-align: center;
}

.movie-title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.movie-info {
  margin: 10px 0;
  font-size: 1.1em;
}

.movie-overview {
  margin-top: 20px;
  font-size: 1.2em;
  line-height: 1.6;
}

.movie-tagline {
  margin-top: 20px;
  font-size: 1.1em;
  font-style: italic;
}

/* Responsive design for larger screens */
@media (min-width: 768px) {
  .movie-content {
    flex-direction: row;
    text-align: left;
  }

  .movie-details {
    margin-left: 40px;
    margin-top: 0;
  }

  .movie-title {
    font-size: 3em;
  }

  .movie-poster {
    max-width: 400px;
  }
}

.rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px; 
  padding: 10px 0;
  direction: ltr; 
}

/* Base styling for the stars */
.star-icon {
  width: 16px;
  height: 16px;
  color: var(--star-icon); /* Gray color for unfilled stars */
}

/* Styling for filled stars */
.star-icon.filled {
  color: #fcd34d; /* Yellow color for filled stars */
}

/* Styling for the rating value */
.rating-value {

  color: var(--body_text_color); 
  font-size: 1.25rem; 
  font-weight: 600; 
  padding: 2px 6px; 
  border-radius: 9999px; 
  margin-left: 12px; 
}



/* Basic styles for the navbar */


.navbar-icon {
  margin-left: 20px;
}

/* Links container, hidden by default on small screens */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 25px;
}

.navbar-links.open {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #141414;
  padding: 10px;
  width: 200px;
  height: 200px;
  text-align: center;

}

/* Individual link styles */
.navbar-wishlist, .logout {
  color: var(--body_text_color);
  cursor: pointer;
}

/* Hamburger menu icon */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Change to cross icon when menu is open */
.bar.open:nth-child(1) {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
  }

  .hamburger {
    display: flex;
  }
}


.register {
  padding-top: 150px;
}

/* General styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Light gray background */
  color: #333;
}

/* Container */
.register .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 15px;
}

/* Logo and text */
.register img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.register h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2937; /* Darker gray for text */
  text-align: center;
  margin-bottom: 1rem;
}

/* Form container */
.register .form-container {
  width: 100%;
  max-width: 24rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

/* Form labels */
.register label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #333;
}

/* Form inputs */
.register input[type="email"],
.register input[type="password"] {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  background-color: #f8f9fa;
  color: #495057;
}

.register input[type="email"]:focus,
.register input[type="password"]:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

/* Checkbox */
.register .checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.register input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

/* Button */
.register button {
  width: 100%;
  padding: 0.625rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register button:hover {
  background-color: #0056b3;
}

/* Link */
.register p {
  margin-top: 1rem;
  font-size: 0.875rem;
  text-align: center;
}

.register p a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.register p a:hover {
  text-decoration: underline;
}

.login {
  padding-top: 150px;
}

.cast-content {
  display: flex;
}

.cast-title {
  display: flex;
  color: var(--body_text_color);
  padding: 30px 0 20px 10px;
}
.cast-card{
  margin: 0 10px;
  text-align: center;
}

.cast-card img {
  width: 150px;
  height: 150px;
}